(
    palette: Dark((
        name: "Rose-Pine-Iris",
        bright_red: (
            red: 0.92157,
            green: 0.43529,
            blue: 0.57255,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.61176,
            green: 0.81176,
            blue: 0.84706,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.96471,
            green: 0.75686,
            blue: 0.46667,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.08627,
            green: 0.08235,
            blue: 0.14118,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.11765,
            green: 0.11373,
            blue: 0.18039,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.08627,
            green: 0.08235,
            blue: 0.14118,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.09804,
            green: 0.09412,
            blue: 0.15686,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.12157,
            green: 0.11373,
            blue: 0.18039,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.14902,
            green: 0.14118,
            blue: 0.20392,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.18431,
            green: 0.17647,
            blue: 0.24706,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.25098,
            green: 0.23922,
            blue: 0.32157,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.32157,
            green: 0.30588,
            blue: 0.40000,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.43137,
            green: 0.41569,
            blue: 0.52157,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.56471,
            green: 0.55294,
            blue: 0.66275,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.72157,
            green: 0.70588,
            blue: 0.81176,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 0.87843,
            green: 0.87059,
            blue: 0.95686,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.61176,
            green: 0.81176,
            blue: 0.84706,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.76863,
            green: 0.65490,
            blue: 0.90588,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.76863,
            green: 0.65490,
            blue: 0.90588,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.92157,
            green: 0.73333,
            blue: 0.72941,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.92157,
            green: 0.43529,
            blue: 0.57255,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.96471,
            green: 0.75686,
            blue: 0.46667,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.96471,
            green: 0.75686,
            blue: 0.46667,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.58431,
            green: 0.69412,
            blue: 0.67451,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.43137,
            green: 0.41569,
            blue: 0.52157,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.43137,
            green: 0.41569,
            blue: 0.52157,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.96471,
            green: 0.75686,
            blue: 0.46667,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.96471,
            green: 0.75686,
            blue: 0.46667,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.61176,
            green: 0.81176,
            blue: 0.84706,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.76863,
            green: 0.65490,
            blue: 0.90588,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.92157,
            green: 0.73333,
            blue: 0.72941,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.76863,
            green: 0.65490,
            blue: 0.90588,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (2.0, 2.0, 2.0, 2.0),
        radius_m: (2.0, 2.0, 2.0, 2.0),
        radius_l: (2.0, 2.0, 2.0, 2.0),
        radius_xl: (2.0, 2.0, 2.0, 2.0),
    ),
    neutral_tint: Some((
        red: 0.87843,
        green: 0.87059,
        blue: 0.95686,
    )),
    bg_color: Some((
        red: 0.09804,
        green: 0.09020,
        blue: 0.14118,
        alpha: 1.0,
    )),
    primary_container_bg: Some((
        red: 0.12157,
        green: 0.11373,
        blue: 0.18039,
        alpha: 1.0,
    )),
    secondary_container_bg: Some((
        red: 0.14902,
        green: 0.14118,
        blue: 0.20392,
        alpha: 1.0,
    )),
    text_tint: Some((
        red: 0.87843,
        green: 0.87059,
        blue: 0.95686,
    )),
    accent: Some((
        red: 0.76863,
        green: 0.65490,
        blue: 0.90588,
    )),
    success: Some((
        red: 0.61176,
        green: 0.81176,
        blue: 0.84706,
    )),
    warning: Some((
        red: 0.96471,
        green: 0.75686,
        blue: 0.46667,
    )),
    destructive: Some((
        red: 0.92157,
        green: 0.43529,
        blue: 0.57255,
    )),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 3,
    window_hint: Some((
        red: 0.76863,
        green: 0.65490,
        blue: 0.90588,
    )),
)
