(
    palette: Light((
        name: "Kanagawa-Lotus-Blue",
        bright_red: (
            red: 0.78431,
            green: 0.25098,
            blue: 0.32549,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.43529,
            green: 0.53725,
            blue: 0.30588,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.80000,
            green: 0.42745,
            blue: 0.00000,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.83529,
            green: 0.80784,
            blue: 0.73725,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.89804,
            green: 0.86667,
            blue: 0.69020,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.83529,
            green: 0.80784,
            blue: 0.73725,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.86275,
            green: 0.83529,
            blue: 0.72157,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.89804,
            green: 0.86667,
            blue: 0.69020,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.90588,
            green: 0.87451,
            blue: 0.70196,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.91765,
            green: 0.88627,
            blue: 0.72157,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.92941,
            green: 0.89804,
            blue: 0.74118,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.94118,
            green: 0.90980,
            blue: 0.76078,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.95294,
            green: 0.92157,
            blue: 0.78039,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.96078,
            green: 0.93725,
            blue: 0.83137,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.96863,
            green: 0.95294,
            blue: 0.88235,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 0.97255,
            green: 0.96471,
            blue: 0.92941,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.30196,
            green: 0.41176,
            blue: 0.60784,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.38431,
            green: 0.34118,
            blue: 0.51373,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.51765,
            green: 0.52549,
            blue: 0.73333,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.70196,
            green: 0.35686,
            blue: 0.47451,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.78431,
            green: 0.25098,
            blue: 0.32549,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.80000,
            green: 0.42745,
            blue: 0.00000,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.87059,
            green: 0.60000,
            blue: 0.00000,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.43529,
            green: 0.53725,
            blue: 0.30588,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.62745,
            green: 0.59608,
            blue: 0.50196,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.62745,
            green: 0.59608,
            blue: 0.50196,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.80000,
            green: 0.42745,
            blue: 0.00000,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.87059,
            green: 0.60000,
            blue: 0.00000,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.30196,
            green: 0.41176,
            blue: 0.60784,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.51765,
            green: 0.52549,
            blue: 0.73333,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.70196,
            green: 0.35686,
            blue: 0.47451,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.38431,
            green: 0.34118,
            blue: 0.51373,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (2.0, 2.0, 2.0, 2.0),
        radius_m: (2.0, 2.0, 2.0, 2.0),
        radius_l: (2.0, 2.0, 2.0, 2.0),
        radius_xl: (2.0, 2.0, 2.0, 2.0),
    ),
    neutral_tint: Some((
        red: 0.32941,
        green: 0.32941,
        blue: 0.39216,
    )),
    bg_color: Some((
        red: 0.94902,
        green: 0.92549,
        blue: 0.73725,
        alpha: 1.0,
    )),
    primary_container_bg: Some((
        red: 0.90588,
        green: 0.87451,
        blue: 0.70196,
        alpha: 1.0,
    )),
    secondary_container_bg: None,
    text_tint: Some((
        red: 0.32941,
        green: 0.32941,
        blue: 0.39216,
    )),
    accent: Some((
        red: 0.30196,
        green: 0.41176,
        blue: 0.60784,
    )),
    success: Some((
        red: 0.43529,
        green: 0.53725,
        blue: 0.30588,
    )),
    warning: Some((
        red: 0.87059,
        green: 0.60000,
        blue: 0.00000,
    )),
    destructive: Some((
        red: 0.78431,
        green: 0.25098,
        blue: 0.32549,
    )),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 3,
    window_hint: Some((
        red: 0.30196,
        green: 0.41176,
        blue: 0.60784,
    )),
)
