/* Tokyo Night Day */
:root {
  --border-radius: 0px;
  --base:     #e1e2e7;
  --mantle:   #d0d1d8;
  --crust:    #c4c5cf;
  --surface0: #d5d6db;
  --surface1: #cbccd1;
  --surface2: #c0c1c7;
  --text:     #3760bf;
  --accent:   #2e7de9;
  --widget-background: var(--surface1);
  --cc-bg:    var(--widget-background);
  --noti-bg-alpha: 1;
  --border:   2px solid var(--accent);
  --padding:  15px;
}
