/* Everforest Dark Hard */
:root {
  --border-radius: 0px;
  --base:     #272e33;
  --mantle:   #2e383c;
  --crust:    #1e2326;
  --surface0: #374145;
  --surface1: #414b50;
  --surface2: #495156;
  --text:     #d3c6aa;
  --accent:   #83c092;
  --widget-background: var(--surface1);
  --cc-bg:    var(--widget-background);
  --noti-bg-alpha: 1;
  --border:   2px solid var(--accent);
  --padding:  15px;
}
