@import "colors.css";

:root {
  --border-radius: 4px;
}

.control-center {
  font-family: "Ubuntu Nerd Font Propo";
  background: transparent;
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: var(--widget-background);
  border-radius: var(--border-radius);
  padding: var(--padding);
  border: var(--border);
  color: var(--text);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
}
.control-center-list-placeholder {
  padding: var(--padding);
}
.notification-group {
  background: var(--widget-background);
  border-radius: var(--border-radius);
  padding: 8px;
  color: var(--text);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
}
.widget.widget-mpris {
  background: var(--widget-background);
  border-radius: var(--border-radius);
  padding: 0;
  border: none;
}
.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 4px;
  padding: var(--dots-padding);
  padding-left: var(--dots-padding);
  padding-right: calc(6px + var(--dots-padding));
  margin: 0;
  margin-top: var(--padding);
}
.widget-mpris > box > button:hover {
  background: var(--widget-background);
}
.widget-mpris-player {
  background: var(--widget-background);
  box-shadow: none;
  border: var(--border);
  margin: 0 var(--padding);
  color: var(--text);
}
.widget-mpris-player:only-child {
  margin: 0;
}
