/* Import the theme file - Change this line to switch themes! */
@import "colors/catppuccin.css";

/* ----------------------------------------------------------------------------- Global Reset
 * -------------------------------------------------------------------------- */
* {
    font-family: "Ubuntu Nerd Font Propo", "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}

/* -----------------------------------------------------------------------------
 * Waybar Window (The Bar Itself)
 * -------------------------------------------------------------------------- */
window#waybar {
    background-color: transparent;
    color: @w-txt-main;
    border-radius: 12px;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    color: @w-txt-main;
    background: transparent;
    transition: all 0.1s ease;
}

#workspaces button.active {
    color: @w-bg-hover;
    background: @pink;
    border-radius: 50px;
    min-width: 60px;
}

#workspaces button:hover {
    color: @blue;
    background: @w-bg-hover;
    border-radius: 50px;
}

#workspaces button.urgent {
    color: @w-accent-crit;
}

#custom-expand-icon {
    color: @w-txt-main;
    background-color: @w-bg-module;
    margin: 6px 5px;
    padding: 4px 6px;
    border: 2px solid @surface2;
    border-radius: 8px;
}

/* Shared base style for right-side modules */
#workspaces,
#clock,
#tray,
#privacy,
#group-tray-expander,
#cpu-gpu,
#devices,
#custom-notification {
    /* background-color: @w-bg-module; */
    color: @w-txt-main;
    margin: 6px 5px;
    padding: 4px 14px;
    border-radius: 20px;
    background-color: @w-bg-module;
    border: 2px solid @surface2;
    transition: color 0.3s ease;
}

#workspaces:hover,
#clock:hover,
#tray:hover,
#privacy:hover,
#group-tray-expander:hover,
#cpu-gpu:hover,
#custom-expand-icon:hover,
#custom-notification:hover {
    color: @blue;
}

#custom-gpu-memory {
    padding-left: 14px;
}
/* Specific colors for icons using semantic names */
#privacy {
    color: @w-accent-warn;
}

#custom-notification {
    font-weight: bold;
    font-size: 16px;
}

#bluetooth {
    font-size: 18px;
    padding-left: 14px;
    transition: color 0.3s ease;
}

#bluetooth:hover {
    color: @blue;
}

#pulseaudio {
    padding-left: 10px;
    transition: color 0.3s ease;
}

#pulseaudio:hover {
    color: @blue;
}

#network {
    transition: color 0.3s ease;
}

#network:hover {
    color: @blue;
}
/* -----------------------------------------------------------------------------
 * Tooltips (Calendar, Network Details, etc.)
 * -------------------------------------------------------------------------- */
tooltip {
    background: @w-bg-module;
    border: 1px solid @pink;
    border-radius: 10px;
}

tooltip label {
    color: @w-txt-main;
    padding: 10px;
}
