/* Import the theme file - Change this line to switch themes! */
@import "colors.css";

/* ----------------------------------------------------------------------------- Global Reset
 * -------------------------------------------------------------------------- */
* {
    font-family: "Ubuntu Nerd Font Propo";
    font-size: 14px;
    min-height: 0;
}

/* -----------------------------------------------------------------------------
 * Waybar Window (The Bar Itself)
 * -------------------------------------------------------------------------- */
window#waybar {
    background-color: @w-bg-main;
    color: @w-txt-main;
    transition-property: background-color;
    border: 1px solid @w-border;
    border-radius: 2px;
    transition-duration: .5s;
}

#workspaces button {
    color: @w-txt-main;
    background: transparent;
    transition: all 0.1s ease;
    margin: 4px 0;
}

#workspaces button.active {
    color: @w-bg-hover;
    background: @w-highlight;
    border-radius: 2px;
}

#workspaces button:hover {
    color: @w-accent;
    background: @w-bg-hover;
    border-radius: 0px;
}

#workspaces button.urgent {
    color: @w-accent-crit;
}

#custom-expand-icon {
    color: @w-txt-main;
    margin: 0 5px;
    padding: 0 6px;
}

#custom-launcher {
    font-size: 18px;
    color: @w-txt-main;
    padding-left: 18px;
    transition: color 0.3s ease;
}
/* Shared base style for right-side modules */
#workspaces,
#clock,
#tray,
#privacy,
#group-tray-expander,
#cpu-gpu,
#devices,
#custom-notification {
    /* background-color: @w-bg-module; */
    color: @w-txt-main;
    margin: 0 5px;
    padding: 0 4px;
    transition: color 0.15s ease;
}

#workspaces {
  padding-left: 6px;
}

#custom-notification {
    padding-right: 14px;
}

#clock {
    font-weight: bold;
}

#custom-launcher:hover,
#workspaces:hover,
#clock:hover,
#tray:hover,
#privacy:hover,
#group-tray-expander:hover,
#cpu-gpu:hover,
#custom-expand-icon:hover,
#custom-notification:hover {
    color: @w-accent;
}

#custom-gpu-memory {
    padding-left: 6px;
}
/* Specific colors for icons using semantic names */
#privacy {
    color: @w-accent-warn;
}

#custom-notification {
    font-weight: bold;
    font-size: 16px;
}

#bluetooth {
    font-size: 18px;
    padding-left: 12px;
    transition: color 0.3s ease;
}

#bluetooth:hover {
    color: @w-accent;
}

#pulseaudio {
    padding-left: 12px;
    transition: color 0.3s ease;
}

#pulseaudio:hover {
    color: @w-accent;
}

#network {
    transition: color 0.3s ease;
}

#network:hover {
    color: @w-accent;
}
/* -----------------------------------------------------------------------------
 * Tooltips (Calendar, Network Details, etc.)
 * -------------------------------------------------------------------------- */
tooltip {
    background: @w-bg-module;
    border: 1px solid @w-highlight;
    border-radius: 0px;
}

tooltip label {
    color: @w-txt-main;
    padding: 10px;
}
