/* Import the theme file - Change this line to switch themes! */
@import "colors/catppuccin.css";

/* ----------------------------------------------------------------------------- Global Reset
 * -------------------------------------------------------------------------- */
* {
    font-family: "Ubuntu Nerd Font Propo", "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}

/* -----------------------------------------------------------------------------
 * Waybar Window (The Bar Itself)
 * -------------------------------------------------------------------------- */
window#waybar {
    background-color: transparent;
    color: @w-txt-main;
    border-radius: 12px;
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------------------------------
 * Workspaces (Left)
 * -------------------------------------------------------------------------- */
#workspaces {
    margin: 2px 8px;
    padding: 4px 14px;
    border-radius: 10px;
    background-color: @w-bg-main;
}

#workspaces button {
    padding: 0 5px;
    color: @w-txt-muted;
    background: transparent;
    transition: all 0.1s ease;
}

#workspaces button.active {
    color: @w-accent-main;
    background: @w-bg-hover;
    border-radius: 50px;
    min-width: 40px;
}

#workspaces button:hover {
    color: @w-txt-main;
    background: @w-bg-hover;
    border-radius: 50px;
}

#workspaces button.urgent {
    color: @w-accent-crit;
}

/* -----------------------------------------------------------------------------
 * Clock (Center)
 * -------------------------------------------------------------------------- */
#clock {
    color: @w-txt-main;
    margin: 2px 8px;
    padding: 4px 14px;
    background-color: @w-bg-main;
    border-radius: 10px;
}

/* -----------------------------------------------------------------------------
 * Right Modules (Tray, Network, Audio, Notification)
 * -------------------------------------------------------------------------- */

/* Shared base style for right-side modules */
#tray,
#network,
#privacy,
#bluetooth,
#pulseaudio,
#group-tray-expander,
#temperature,
#custom-gpu-memory,
#custom-expand-icon,
#custom-notification {
    /* background-color: @w-bg-module; */
    color: @w-txt-main;
    margin: 2px 5px;
    padding: 4px 14px;
    border-radius: 10px;
    background-color: @w-bg-main;
}

/* Specific colors for icons using semantic names */
#privacy {
    color: @w-accent-warn;
}

#bluetooth {
    font-size: 18px;
}

/* -----------------------------------------------------------------------------
 * Tooltips (Calendar, Network Details, etc.)
 * -------------------------------------------------------------------------- */
tooltip {
    background: @w-bg-main;
    border: 1px solid @pink;
    border-radius: 10px;
}

tooltip label {
    color: @w-txt-main;
    padding: 10px;
}
