/* Catppuccin Latte */
:root {
  --base:     #eff1f5;
  --mantle:   #e6e9ef;
  --crust:    #dce0e8;
  --surface0: #ccd0da;
  --surface1: #bcc0cc88;
  --surface2: #acb0be;
  --text:     #4c4f69;
  --accent:   #1e66f5;
  --widget-background: var(--surface1);
  --cc-bg:    var(--widget-background);
  --noti-bg-alpha: 1;
  --border:   2px solid var(--accent);
  --padding:  15px;
}
