/* Gruvbox Hard Dark */
:root {
  --base:     #1d2021;
  --mantle:   #282828;
  --crust:    #141617;
  --surface0: #3c3836;
  --surface1: #50494588;
  --surface2: #665c54;
  --text:     #ebdbb2;
  --accent:   #ebdbb2;
  /* --accent:   #fabd2f; */
  --widget-background: var(--surface1);
  --cc-bg:    var(--widget-background);
  --noti-bg-alpha: 1;
  --border:   2px solid var(--accent);
  --padding:  15px;
}
