(
    palette: Dark((
        name: "Osaka-Jade-Cyan",
        bright_red: (
            red: 1.0,
            green: 0.32549,
            blue: 0.27059,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.32941,
            green: 0.61961,
            blue: 0.41569,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.89804,
            green: 0.78039,
            blue: 0.21176,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.06667,
            green: 0.10980,
            blue: 0.09412,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.10196,
            green: 0.14510,
            blue: 0.12549,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.06667,
            green: 0.10980,
            blue: 0.09412,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.10196,
            green: 0.14510,
            blue: 0.12549,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.13725,
            green: 0.17647,
            blue: 0.16863,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.17647,
            green: 0.21569,
            blue: 0.20784,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.21569,
            green: 0.26667,
            blue: 0.25098,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.27059,
            green: 0.32157,
            blue: 0.30196,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.32549,
            green: 0.40784,
            blue: 0.35686,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.40784,
            green: 0.49412,
            blue: 0.44314,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.53333,
            green: 0.61569,
            blue: 0.56863,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.75686,
            green: 0.84706,
            blue: 0.80000,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 0.96471,
            green: 0.96078,
            blue: 0.86667,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.31373,
            green: 0.58039,
            blue: 0.45882,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.17647,
            green: 0.83529,
            blue: 0.71765,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.82353,
            green: 0.40784,
            blue: 0.61176,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.82353,
            green: 0.40784,
            blue: 0.61176,
            alpha: 1.0,
        ),
        accent_red: (
            red: 1.0,
            green: 0.32549,
            blue: 0.27059,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.89804,
            green: 0.78039,
            blue: 0.21176,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.89804,
            green: 0.78039,
            blue: 0.21176,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.32941,
            green: 0.61961,
            blue: 0.41569,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.32549,
            green: 0.40784,
            blue: 0.35686,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.32549,
            green: 0.40784,
            blue: 0.35686,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.89804,
            green: 0.78039,
            blue: 0.21176,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.89804,
            green: 0.78039,
            blue: 0.21176,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.31373,
            green: 0.58039,
            blue: 0.45882,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.82353,
            green: 0.40784,
            blue: 0.61176,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.82353,
            green: 0.40784,
            blue: 0.61176,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.17647,
            green: 0.83529,
            blue: 0.71765,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (2.0, 2.0, 2.0, 2.0),
        radius_m: (2.0, 2.0, 2.0, 2.0),
        radius_l: (2.0, 2.0, 2.0, 2.0),
        radius_xl: (2.0, 2.0, 2.0, 2.0),
    ),
    neutral_tint: Some((
        red: 0.75686,
        green: 0.76863,
        blue: 0.59216,
    )),
    bg_color: Some((
        red: 0.06667,
        green: 0.10980,
        blue: 0.09412,
        alpha: 1.0,
    )),
    primary_container_bg: Some((
        red: 0.13725,
        green: 0.17647,
        blue: 0.16863,
        alpha: 1.0,
    )),
    secondary_container_bg: Some((
        red: 0.17647,
        green: 0.21569,
        blue: 0.20784,
        alpha: 1.0,
    )),
    text_tint: Some((
        red: 0.75686,
        green: 0.76863,
        blue: 0.59216,
    )),
    accent: Some((
        red: 0.17647,
        green: 0.83529,
        blue: 0.71765,
    )),
    success: Some((
        red: 0.32941,
        green: 0.61961,
        blue: 0.41569,
    )),
    warning: Some((
        red: 0.89804,
        green: 0.78039,
        blue: 0.21176,
    )),
    destructive: Some((
        red: 1.0,
        green: 0.32549,
        blue: 0.27059,
    )),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 3,
    window_hint: Some((
        red: 0.17647,
        green: 0.83529,
        blue: 0.71765,
    )),
)
