/* Retro 82 */
:root {
  --base:       #00172E;
  --mantle:     #01204E;
  --crust:      #00172E;
  --surface0:   #0A3A45;
  --surface1:   #134E5A88;
  --surface2:   #2A6A73;
  --text:       #FFF1DA;
  --accent:     #FAA968;
  --widget-background: var(--surface1);
  --cc-bg:      var(--widget-background);
  --noti-bg-alpha: 1;
  --border:     2px solid var(--accent);
  --padding:    15px;
}
