(
    palette: Light((
        name: "Rose-Pine-Dawn-Iris",
        bright_red: (
            red: 0.70588,
            green: 0.38824,
            blue: 0.47843,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.33725,
            green: 0.58039,
            blue: 0.60000,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.91765,
            green: 0.61569,
            blue: 0.20392,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.95686,
            green: 0.93725,
            blue: 0.92941,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.98039,
            green: 0.96863,
            blue: 0.95294,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.95686,
            green: 0.93725,
            blue: 0.92941,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.98039,
            green: 0.96863,
            blue: 0.95294,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.98039,
            green: 0.98039,
            blue: 0.95294,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.94902,
            green: 0.91373,
            blue: 0.88235,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.90980,
            green: 0.87059,
            blue: 0.83922,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.87451,
            green: 0.85490,
            blue: 0.84706,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.80784,
            green: 0.79216,
            blue: 0.80392,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.63529,
            green: 0.61961,
            blue: 0.69412,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.59608,
            green: 0.57255,
            blue: 0.64706,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.52157,
            green: 0.49412,
            blue: 0.60000,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 0.27451,
            green: 0.25882,
            blue: 0.38039,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.33725,
            green: 0.58039,
            blue: 0.60000,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.56471,
            green: 0.47843,
            blue: 0.66275,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.56471,
            green: 0.47843,
            blue: 0.66275,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.84314,
            green: 0.50980,
            blue: 0.49412,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.70588,
            green: 0.38824,
            blue: 0.47843,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.91765,
            green: 0.61569,
            blue: 0.20392,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.91765,
            green: 0.61569,
            blue: 0.20392,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.42745,
            green: 0.56078,
            blue: 0.53725,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.80784,
            green: 0.79216,
            blue: 0.80392,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.80784,
            green: 0.79216,
            blue: 0.80392,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.91765,
            green: 0.61569,
            blue: 0.20392,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.91765,
            green: 0.61569,
            blue: 0.20392,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.33725,
            green: 0.58039,
            blue: 0.60000,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.56471,
            green: 0.47843,
            blue: 0.66275,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.84314,
            green: 0.50980,
            blue: 0.49412,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.56471,
            green: 0.47843,
            blue: 0.66275,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (2.0, 2.0, 2.0, 2.0),
        radius_m: (2.0, 2.0, 2.0, 2.0),
        radius_l: (2.0, 2.0, 2.0, 2.0),
        radius_xl: (2.0, 2.0, 2.0, 2.0),
    ),
    neutral_tint: Some((
        red: 0.27451,
        green: 0.25882,
        blue: 0.38039,
    )),
    bg_color: Some((
        red: 0.98039,
        green: 0.98039,
        blue: 0.95294,
        alpha: 1.0,
    )),
    primary_container_bg: Some((
        red: 0.94902,
        green: 0.91373,
        blue: 0.88235,
        alpha: 1.0,
    )),
    secondary_container_bg: None,
    text_tint: Some((
        red: 0.27451,
        green: 0.25882,
        blue: 0.38039,
    )),
    accent: Some((
        red: 0.56471,
        green: 0.47843,
        blue: 0.66275,
    )),
    success: Some((
        red: 0.33725,
        green: 0.58039,
        blue: 0.60000,
    )),
    warning: Some((
        red: 0.91765,
        green: 0.61569,
        blue: 0.20392,
    )),
    destructive: Some((
        red: 0.70588,
        green: 0.38824,
        blue: 0.47843,
    )),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 3,
    window_hint: Some((
        red: 0.56471,
        green: 0.47843,
        blue: 0.66275,
    )),
)
