(
    palette: Dark((
        name: "Kanagawa-Wave-Violet",
        bright_red: (
            red: 0.76471,
            green: 0.25098,
            blue: 0.26275,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.59608,
            green: 0.73333,
            blue: 0.42353,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.86275,
            green: 0.64706,
            blue: 0.38039,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.08627,
            green: 0.08627,
            blue: 0.11373,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.10196,
            green: 0.10196,
            blue: 0.13333,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.08627,
            green: 0.08627,
            blue: 0.11373,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.10196,
            green: 0.10196,
            blue: 0.13333,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.12157,
            green: 0.12157,
            blue: 0.15686,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.16471,
            green: 0.16471,
            blue: 0.21569,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.21176,
            green: 0.21176,
            blue: 0.27451,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.27059,
            green: 0.27059,
            blue: 0.34118,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.32941,
            green: 0.32941,
            blue: 0.42745,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.40000,
            green: 0.40000,
            blue: 0.50980,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.47059,
            green: 0.47059,
            blue: 0.58824,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.54118,
            green: 0.54118,
            blue: 0.66275,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 0.61569,
            green: 0.61569,
            blue: 0.73725,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.49412,
            green: 0.61176,
            blue: 0.84706,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.58431,
            green: 0.49804,
            blue: 0.72157,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.68627,
            green: 0.61176,
            blue: 0.85882,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.82353,
            green: 0.49412,
            blue: 0.60000,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.76471,
            green: 0.25098,
            blue: 0.26275,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.86275,
            green: 0.64706,
            blue: 0.38039,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.90196,
            green: 0.76471,
            blue: 0.51765,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.59608,
            green: 0.73333,
            blue: 0.42353,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.44706,
            green: 0.41176,
            blue: 0.41569,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.44706,
            green: 0.41176,
            blue: 0.41569,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.86275,
            green: 0.64706,
            blue: 0.38039,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.90196,
            green: 0.76471,
            blue: 0.51765,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.49412,
            green: 0.61176,
            blue: 0.84706,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.68627,
            green: 0.61176,
            blue: 0.85882,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.82353,
            green: 0.49412,
            blue: 0.60000,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.58431,
            green: 0.49804,
            blue: 0.72157,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (2.0, 2.0, 2.0, 2.0),
        radius_m: (2.0, 2.0, 2.0, 2.0),
        radius_l: (2.0, 2.0, 2.0, 2.0),
        radius_xl: (2.0, 2.0, 2.0, 2.0),
    ),
    neutral_tint: Some((
        red: 0.86275,
        green: 0.84314,
        blue: 0.72941,
    )),
    bg_color: Some((
        red: 0.12157,
        green: 0.12157,
        blue: 0.15686,
        alpha: 1.0,
    )),
    primary_container_bg: Some((
        red: 0.16471,
        green: 0.16471,
        blue: 0.21569,
        alpha: 1.0,
    )),
    secondary_container_bg: Some((
        red: 0.21176,
        green: 0.21176,
        blue: 0.27451,
        alpha: 1.0,
    )),
    text_tint: Some((
        red: 0.86275,
        green: 0.84314,
        blue: 0.72941,
    )),
    accent: Some((
        red: 0.58431,
        green: 0.49804,
        blue: 0.72157,
    )),
    success: Some((
        red: 0.59608,
        green: 0.73333,
        blue: 0.42353,
    )),
    warning: Some((
        red: 0.90196,
        green: 0.76471,
        blue: 0.51765,
    )),
    destructive: Some((
        red: 0.76471,
        green: 0.25098,
        blue: 0.26275,
    )),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 3,
    window_hint: Some((
        red: 0.58431,
        green: 0.49804,
        blue: 0.72157,
    )),
)
