(
    palette: Dark((
        name: "Rose-Pine-Moon-Iris",
        bright_red: (
            red: 0.92157,
            green: 0.43529,
            blue: 0.57255,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.61176,
            green: 0.81176,
            blue: 0.84706,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.96471,
            green: 0.75686,
            blue: 0.46667,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.12157,
            green: 0.11765,
            blue: 0.18824,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.13725,
            green: 0.12941,
            blue: 0.21176,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.12157,
            green: 0.11765,
            blue: 0.18824,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.13725,
            green: 0.12941,
            blue: 0.21176,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.16471,
            green: 0.15294,
            blue: 0.24706,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.19608,
            green: 0.18431,
            blue: 0.28627,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.23922,
            green: 0.23922,
            blue: 0.34510,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.30196,
            green: 0.27059,
            blue: 0.38431,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.34510,
            green: 0.34118,
            blue: 0.46275,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.46275,
            green: 0.44706,
            blue: 0.58039,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.60000,
            green: 0.58824,
            blue: 0.72157,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.75686,
            green: 0.74902,
            blue: 0.87059,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 0.87843,
            green: 0.87059,
            blue: 0.95686,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.61176,
            green: 0.81176,
            blue: 0.84706,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.76863,
            green: 0.65490,
            blue: 0.90588,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.76863,
            green: 0.65490,
            blue: 0.90588,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.91765,
            green: 0.60392,
            blue: 0.59216,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.92157,
            green: 0.43529,
            blue: 0.57255,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.96471,
            green: 0.75686,
            blue: 0.46667,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.96471,
            green: 0.75686,
            blue: 0.46667,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.58431,
            green: 0.69412,
            blue: 0.67451,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.46275,
            green: 0.44706,
            blue: 0.58039,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.46275,
            green: 0.44706,
            blue: 0.58039,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.96471,
            green: 0.75686,
            blue: 0.46667,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.96471,
            green: 0.75686,
            blue: 0.46667,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.61176,
            green: 0.81176,
            blue: 0.84706,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.76863,
            green: 0.65490,
            blue: 0.90588,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.91765,
            green: 0.60392,
            blue: 0.59216,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.76863,
            green: 0.65490,
            blue: 0.90588,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (2.0, 2.0, 2.0, 2.0),
        radius_m: (2.0, 2.0, 2.0, 2.0),
        radius_l: (2.0, 2.0, 2.0, 2.0),
        radius_xl: (2.0, 2.0, 2.0, 2.0),
    ),
    neutral_tint: Some((
        red: 0.87843,
        green: 0.87059,
        blue: 0.95686,
    )),
    bg_color: Some((
        red: 0.13725,
        green: 0.12941,
        blue: 0.21176,
        alpha: 1.0,
    )),
    primary_container_bg: Some((
        red: 0.19608,
        green: 0.18431,
        blue: 0.28627,
        alpha: 1.0,
    )),
    secondary_container_bg: Some((
        red: 0.23922,
        green: 0.23922,
        blue: 0.34510,
        alpha: 1.0,
    )),
    text_tint: Some((
        red: 0.87843,
        green: 0.87059,
        blue: 0.95686,
    )),
    accent: Some((
        red: 0.76863,
        green: 0.65490,
        blue: 0.90588,
    )),
    success: Some((
        red: 0.61176,
        green: 0.81176,
        blue: 0.84706,
    )),
    warning: Some((
        red: 0.96471,
        green: 0.75686,
        blue: 0.46667,
    )),
    destructive: Some((
        red: 0.92157,
        green: 0.43529,
        blue: 0.57255,
    )),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 3,
    window_hint: Some((
        red: 0.76863,
        green: 0.65490,
        blue: 0.90588,
    )),
)
