/* Gruvbox Light Hard */
:root {
  --base:     #f9f5d7;
  --mantle:   #f2e5bc;
  --crust:    #ebdbb2;
  --surface0: #d5c4a1;
  --surface1: #bdae9388;
  --surface2: #a89984;
  --text:     #3c3836;
  --accent:   #b57614;
  --widget-background: var(--surface1);
  --cc-bg:    var(--widget-background);
  --noti-bg-alpha: 1;
  --border:   2px solid var(--accent);
  --padding:  15px;
}
